services:
  backend:
    image: accesslogs-events
    build:
      context: ./
      dockerfile: ./Dockerfile
    environment:
      TZ: America/Chicago
      NODE_ENV: production
      DBHOST: localhost
      DBUSER: root
      DBPASS: example
      MODEL_DB: web_access_test
      #debug values
      DEBUG: true
      LOGPREFIX: /mnt/LOE/
      LOGPREFIX_REP: /var/www/html/
    volumes:
      - /tmp/log/:/log
